<div class="mat-card-container">
    <mat-card>
        <div class="title">
            <div>
                <button class="arrow_back" (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <mat-card-title>Mot de passe oublié ?</mat-card-title>
        </div>

        <mat-card-content>
            <p>Entrez votre adresse email pour recevoir un lien de réinitialisation.</p>
            <form [formGroup]="formGroup" (ngSubmit)="Submit()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" placeholder="exemple@domaine.com">
                        <mat-error *ngIf="formGroup.get('email')?.hasError('required')">Email requis</mat-error>
                         <mat-error *ngIf="formGroup.get('email')?.hasError('email')">Format email invalide</mat-error>
                </mat-form-field>
                <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>

            <div *ngIf="isLoading" class="loading-spinner">
                <mat-spinner></mat-spinner>
            </div>

            <div class="button-container">
                <button class="custom-button" color="primary" type="submit" 
                [disabled]="formGroup.invalid || isLoading"
                [ngClass]="{ 'disabled-button': formGroup.invalid || isLoading }">Envoyer</button>
            </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>