.mat-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
mat-card {
    width: 100%;
    max-width: 450px; 
    margin: 20px auto;
}
.title {
    display: flex;
    text-align: center;
}
.arrow_back {
    margin-right: 10px;
}
mat-card-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}

mat-form-field {
    width: 100%;
    margin: 10px 10px;
  }
  .button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between; 
  }