<div class="not-found-container">
  <div class="not-found-content">
    <div class="error-icon">
      <img src="/404-page-not-found.png" alt="Page non trouvée" />
      <div class="error-shadow"></div>
    </div>
    
    <h1>404 - Page non trouvée</h1>

    
    <div class="suggestion">
      <mat-icon>lightbulb</mat-icon>
      <span>Oups ! Il semble que la page que vous cherchez a été déplacée, supprimée ou n'a jamais existé.</span>
    </div>
    
    <button routerLink="/" class="custom-button">
      <mat-icon>home</mat-icon>
      Retour à l'accueil
    </button>
    
  </div>
  
  <div class="error-decoration">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>
